.request_password__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.request_password__box{
    margin: 0 1em;
    border: 2px solid white;
    padding: 2em;
    width: auto;
}


.reset_password__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.reset_password__content_container{
    width: 90%;
}

.reset_password__content_container>form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reset_password__content_container>form>button{
    padding: 1em 3em;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}